img {
    width: 300px;
    margin: auto;
    display: block;
}

div {
    max-width: 320px;
}

.italicize{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.solid{
    border: 3px solid orange;
    border-radius: 25px;
    background-color: lightsalmon;
    box-shadow: 5px 5px lightgray;
}

.solid2{
    border: 2px solid green;
    border-radius: 25px;
}